AWS_ACCESS_KEY_ID=your_iam_access_key_here
AWS_SECRET_ACCESS_KEY=your_iam_secret_key_here
AWS_REGION=ap-south-1
S3_BUCKET_NAME=your-bucket-name

DB_HOST=localhost
DB_PORT=5432
DB_NAME=stockdb
DB_USER=postgres
DB_PASSWORD=your_postgres_password